<!-- This is the start of the third sidebar box -->
	<div class="<!-- IF S_ENABLE_SNOW -->forabg2<!-- ELSE -->forabg<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Twitter</dt>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums" style="padding: 0.05cm">
				<a class="twitter-timeline"  href="https://twitter.com/GuildWars2" data-widget-id="275962128056336384">Tweets by @GuildWars2</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
<!-- This is the end of the third sidebar box --> 
