<!-- This is the start of the first sidebar box -->
	<div class="<!-- IF S_ENABLE_SNOW -->forabg2<!-- ELSE -->forabg<!-- ENDIF -->">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Teamspeak</dt>
					</dl>
				</li>
			</ul>
		<ul class="topiclist forums" style="padding: 0.05cm">
				<li class="row" style="height: 600px;overflow: auto;">
				<script language="javascript" type="text/javascript" src="http://www.tsviewer.com/ts3viewer.php?ID=939513&js=1" charset="utf-8"></script><NOSCRIPT>Enable JavaScript to see TeamSpeak Viewer or click <a href="http://www.tsviewer.com/index.php?page=ts_viewer&ID=939513">here</a>.</NOSCRIPT>
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- This is the end of the first sidebar box -->
