	<div class="maintitle">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Friends</dt>
					</dl>
				</li>
			</ul>
	</div>
	<!-- IF SCRIPT_NAME eq 'index' --><div class="trigger active"></div><!-- ENDIF -->
		<div class="collapsethis">
			<ul class="topiclist forums">
				<div style="text-align: center;">
					
	<!-- IF S_USER_LOGGED_IN -->
		<!-- IF not S_IS_BOT -->
	<strong>Online</strong><br />
		<!-- BEGIN b3p_friends_online -->
			<span style="float:left; padding-left:20x; padding-top:2px;">{b3p_friends_online.USERNAME_FULL}</span><br style="clear:both" />
		<!-- BEGINELSE -->
			<span style="float:left; padding-left:20px; padding-top:2px;">No Friends online</span>
			<br style="clear:both" />
		<!-- END b3p_friends_online -->
		<br style="clear:both" />
		<h3></h3>
		<strong>Offline</strong><br />
		<!-- BEGIN b3p_friends_offline -->
			<span style="float:left; padding-left:20px; padding-top:2px;">{b3p_friends_offline.USERNAME_FULL}</span><br style="clear:both" />
		<!-- BEGINELSE -->
			<span style="float:left; padding-left:20px; padding-top:2px;">No Friends offline</span>
		<!-- END b3p_friends_offline -->
		<!-- ENDIF -->
		<!-- ENDIF -->
				</div>
			</ul>
	</div>
