<!-- This is the start of the first menu box -->
	<div class="maintitle">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Menu</dt>
					</dl>
				</li>
			</ul>
	</div>
	<!-- IF SCRIPT_NAME eq 'index' --><div class="trigger active"></div><!-- ENDIF -->
		<div class="collapsethis">
			<ul class="topiclist forums" style="padding: 0.05cm">
				<!-- IF S_DISPLAY_SEARCH -->
					<a href="{U_NEW_POSTS}"><abbr title="{L_NEW_POSTS}"><img src="{T_THEME_PATH}/images/dLightbulb.png" alt="{L_NEW_POSTS}" /></abbr></a>
					<a href="{U_UNREAD_POSTS}"><abbr title="{L_UNREAD_POSTS}"><img src="{T_THEME_PATH}/images/dLightning.png" alt="{L_UNREAD_POSTS}" /></abbr></a>
					<a href=""><abbr title="Media page"><img src="{T_THEME_PATH}/images/dMedia-Player.png" alt="Media page" /></abbr></a>
					<a href="{U_SEARCH}"><abbr title="Advanced Search"><img src="{T_THEME_PATH}/images/dSearch.png" alt="Advanced Search" /></abbr></a>
				<!-- ENDIF -->
				<!-- IF U_UM_BOOKMARKS -->
					<li><a href="{U_UM_BOOKMARKS}">{L_UM_BOOKMARKS}</a></li>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_SUBSCRIPTIONS -->
					<li><a href="{U_UM_MAIN_SUBSCRIBED}">{L_UM_MAIN_SUBSCRIBED}</a></li>
				<!-- ENDIF -->
				<!-- IF U_MCP -->
					<a href="{U_MCP}"><abbr title="{L_MCP}"><img src="{T_THEME_PATH}/images/dLock.png" alt="{L_MCP}" /></abbr></a>
				<!-- ENDIF -->
			</ul>
		</div>

<!-- This is the end of the first menu box -->