<!-- This is the start of the second sidebar box -->
<div class="<!-- IF S_ENABLE_SNOW -->forabg2<!-- ELSE -->forabg<!-- ENDIF -->">
<div class="inner"><span class="corners-top"><span></span></span>
<ul class="topiclist">
<li class="header">
<dl class="icon">
<dt>GuildWars2 RSS</dt>
</dl>
</li>
</ul>
<ul class="topiclist forums" style="padding: 0.05cm">
<script type="text/javascript">
var socialfeed=new gfeedfetcher("example1", "example1class", "_new")
socialfeed.addFeed("GuildWars2", "https://www.guildwars2.com/en/feed/") //Specify "label"
socialfeed.displayoptions("label datetime snippet")
socialfeed.setentrycontainer("div")
socialfeed.filterfeed(3, "date")
socialfeed.init() //Always call this last
</script>


</ul>
<span class="corners-bottom"><span></span></span></div>
</div>
<!-- This is the end of the second sidebar box "https://forum-en.guildwars2.com/forum/info/news.rss" -->