<!-- This is the start of the first video box -->
	<div class="maintitle">
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Live Channels</dt>
					</dl>
				</li>
			</ul>
	</div>
	<!-- IF SCRIPT_NAME eq 'index' --><div class="trigger active"></div><!-- ENDIF -->
		<div class="collapsethis">
			<ul class="topiclist forums">
			<div class="video-container">
				<iframe width="250" height="156" src="http://www.hb-eu.com/community/twitch/twitchblock.php" frameborder="0" allowfullscreen></iframe>
			</div>
			</ul>
		</div>
<!-- This is the end of the first video box -->
