
/* Game Icon images
---------------------------------------- */
.icon-game {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 20px;
}
.icon-game	{ background-image: url("{T_THEME_PATH}/images/icon_game.gif"); }
.rtl .icon-game {
	background-position: 100% 50%;
	padding: 1px 20px 0 0;
}
.game-play-add, .game-play-add a, .game-play-delete, .game-play-delete a, .game-share-add, .game-share-add a, .game-share-delete, .game-share-delete a{
	background-position: top left;
	background-repeat: no-repeat;
	background-color: transparent;
}
ul.profile-icons li.game-play-add, ul.profile-icons li.game-play-delete, ul.profile-icons li.game-share-add, ul.profile-icons li.game-share-delete{
	height:16px;
	width:16px;
}
.game-play-add, .game-play-add a	{ background-image: url("{T_THEME_PATH}/images/game_play_add.gif"); }
.game-play-delete, .game-play-delete a	{ background-image: url("{T_THEME_PATH}/images/game_play_delete.gif"); }
.game-share-add, .game-share-add a	{ background-image: url("{T_THEME_PATH}/images/game_share_add.gif"); }
.game-share-delete, .game-share-delete a	{ background-image: url("{T_THEME_PATH}/images/game_share_delete.gif"); }

